<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">Ilegra • Flix</h1>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Follow us:</h3>
        <div class="btn-wrapper profile">
          <a href="#" class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
            <i class="fab fa-twitter"> </i>
          </a>
          <a href="#" class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
            <i class="fab fa-facebook-square"> </i>
          </a>
          <a href="#" class="btn btn-icon btn-neutral btn-round btn-simple">
            <i class="fab fa-dribbble"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>