.section-coins {
    margin-top: 0;
}

.card-plain {
    margin-top: 105px;
}

.section-coins h1 {
    margin-bottom: 0;
}

.section {
    padding: 0;
    padding-bottom: 20px;
}   

img.path {
    height: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translatex(-50%);
}